.form_container{
    height: 16rem;
    width: 30rem;
}
.form{
    /* background-color: green; */  
    width: 100%;
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
    gap: 1rem;
    
}

.col{
    /* height: 4rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    /* background-color: yellow; */
    color: var(--black);
    width: 100%;
    position: relative;
}
input{
    height: 3rem;
    width: 80%;
    text-align: center;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
.icon{
    position: absolute;
    right: 4.3rem;
    top: 3rem;
    transition: all .3s ease;
}
.icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.submit_button{
    width: 10rem;
    margin-top: 1rem;
    height: 2.7rem;
    border: none;
    background-color:var(--primary-normal);
    color: var(--white);
    font-size: 1.1rem;
    border-radius: .3rem;
}