
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40rem;
    background-color: #fff;
    padding: 20px;
   
    border-radius: 20px;
    position: relative;
    margin:4rem  auto;
    
  }
  
  .title {
    font-size: 3.1rem;
    color: var(--off-blue);
    font-weight: 600;
    letter-spacing: -1px;
    padding-left: 30px;
    text-align: center;
    
  }
 .message{
    text-align: center;
    margin-bottom: 2rem;
 }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: var(--off-blue);
  }
  
  .signin a:hover {
    text-decoration: underline var(--off-blue);
  }
  
  .flex {
    display: flex;
    width: 100%;

    gap: 6px;
  }
  
  .form label {
    position: relative;
    width: 100%;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: var(--off-blue);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: var(--off-blue);
  }
  
 