.sidebar {
  height: 100vh;
  width: 20rem;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  background-color: var(--black);
  box-shadow: 0px 0px 20px 3px var(--gray);
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  /* border-top-right-radius: 1rem; */
  /* border-bottom-right-radius: 1rem; */
  /* position: relative; */
}

.title {
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 0px 0px 5px 1px var(--primary-normal);
  font-weight: 600;
  text-align: center;
  margin-top: .6rem;
  /* background-color: green; */
}

.profile_section {
  /* height: 40%; */
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.edit_icon {
  position: absolute;
  right: 6rem;
  bottom: 5.3rem;
  color: var(--primary-normal);
  font-size: 1.2rem;
  font-weight: 600;
}

.image_section {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: gray;
}
.image_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  /* box-shadow: 0px 0px 0px .3rem  var(--secondary-normal); */
}
.admin_name {
  color: var(--white);
  font-weight: 500;
  margin-top: 0.8rem;
  font-size: 1.1rem;
  margin-bottom: .3rem;
  text-transform: capitalize;
}
.designation,.id_number {
  text-transform: capitalize;
  color: var(--gray);
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.control_section {
  height: 40%;
  /* background-color: purple; */
  width: 100%;
}

.control_section ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.control_section ul ol {
  height: 3rem;
  width: 100%;
  border-radius: 0.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  color: var(--white);
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
}
.control_section ul ol:hover {
  background-color: var(--gray);
  color: var(--black);
  font-weight: 600;
  cursor: pointer;
}
.icon {
  padding-inline: 1rem;
}
.bottom_section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: var(--primary-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: .5rem; */
  
}
.off_cross{
  color: var(--gray);
  font-size: 1.3rem;
  padding: .5rem;
  border-radius: 2rem;
}
.off_cross:hover{
  color: var(--white);
  cursor: pointer;
}
.top_control{
  height: 1.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.login_detail{
   color: var(--white);
   font-size: .9rem;
   font-weight: 600;
}
.total {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  color: var(--gray);
}
