.container {
  width: 100%;
  height: 100vh;
  background-color: var(--off-white);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.left_section,
.right_section {
  border-radius: 0.3rem;
}
.left_section {
  width: 70%;
  background-color: var(--white);
  height: 100%;
  padding: 1.5rem;
  overflow-y: scroll;
}
.top_section {
  /* height: 19rem; */
  width: 100%;
  padding: 2rem;
  /* background-color: green; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: column;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}
.right_section {
  border: 1px solid rgb(2, 23, 107);
  width: 30%;
  height: 100%;
}
.summary {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.sec {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.img_section {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.img_section img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headline{
    height: 5rem;
    width: 50%;
    flex-wrap: wrap;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 1;
    justify-content: center;
    grid-auto-flow: rows;
    align-content: center;
    gap: .5rem;
    flex-direction: column;
}
.head{
    font-size: .9rem;
    font-weight: 700;
    color: var(--gray);
}
.subhead{
    font-size: 1rem;
    color: var(--black);
    font-weight:700;
}
.icon_section{
  font-size: 2rem;
  color: var(--secondary-normal);
}
.bottom_section{
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.col{
  width: 100%;
  padding: 1rem;
  /* height: 10rem; */
}
.heading{
  background-color: var(--off-white);
  padding-inline:1rem;
  border-radius: .3rem;
  font-size: 1rem;
  font-weight: 700;
  height: 2.3rem;
  color: --black;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-star;
  align-items: center;
}
.content{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}