.welcomePage {
  height: 100vh;
  position: relative;
  width: 100%;
  
}

.container {
  width: 60%;
  height: 35rem;
  position: absolute;
  left: 50%;
  border-radius: .4rem;
  top: 50%;
  background-color: var(--off-blue);
  transform: translate(-50%, -50%);
  padding: 1rem;
}
