.header{
    height: 4.5rem;
    background-color: var(--off-blue);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    font-size: 1.3rem;
    color: var(--light-bg-offwhite);
    font-weight: 600;
}
.input{
    height: 2.5rem;
    width: 15rem;
    text-align: center;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.danger_button{
    background-color: rgb(225, 51, 51);
    width: 6rem;
    border: none;
    height: 2.5rem;
    border-radius: .4rem;
    color: var(--white);
    font-size: 1rem;
}