.header{
    height: 4.5rem;
    background-color: var(--primary-normal);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.bars{
    font-size: 2rem;
    color: var(--white);
}
.bars:hover{
    color: var(--gray);
    cursor: pointer;

}
.heading{
    font-size: 1.3rem;
    color: var(--light-bg-offwhite);
    font-weight: 600;
}
.input{
    height: 2.5rem;
    width: 15rem;
    text-align: center;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.danger_button{
    background-color: var(--danger);
    width: 6rem;
    border: none;
    height: 2.5rem;
    border-radius: .4rem;
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;

    &:hover{
        background-color: var(--danger-hover);
    }
    &:active{
        background-color: var(--danger-clicked);
    }
}

.float_btn{
    position: fixed;
    right: 6vw;
    bottom: 12vh;
}

.float_btn button{
    font-size: 1.5rem;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border: none;
    background-color: var(--safe-green);
    color: var(--white);
    transition: all .3s ease;
 
    &:hover{
        background-color: var(--safe-green-hover);
        scale: 1.1;
    }
    &:active{
        background-color: var(--safe-green-clicked);
    }
}
