
/* IMPORTING FONTS FROM FONTS.GOOGLE.FONTS.COM  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");


/* CSS RESET  */
* {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
body{
  overflow: hidden;

}


/* ROOT COLOR PALLETE FOR THE PROJECT  */

:root {

  /* Neutral Colors  */
  --white: #ffffff;
  --off-white:#eeeeee;
  --black: #324b4b;
  --gray:#869594;

  /* Signal Colors  */

  /* RED  */
  --danger:#ee0d41;
  --danger-hover:#f70e45;
  --danger-clicked:#db0638;

  /* GREEN  */
  --safe-green:#05be68;
  --safe-green-hover:#0e9858;
  --safe-green-clicked:#0b7041;

  /* SHades for primary Color  */
  --primary-normal: #00a8a8;
  --primary-hovered:#0c9191;
  --primary-clicked:#097878;

  /* Shades foe the secondary Color  */
  --secondary-normal:#4e619e;
  --secondary_hover:#415187;
  --secondary-clicked:#36436f;

  /* Accent Shades  */
  --accent-normal:#8494d5;
  --accent-hover:#6679c9;
  --accent-hovered:#636f9f;

}

/* UNIVERSAL UI COMPONENT CSS  */

/* Primary Color UI*/
.primary_button_ui{
  background-color: var(--primary-normal);

}
.primary_button_ui:hover{
  background-color: var(--primary-hovered);
}
.primary_button_ui:active{
  background-color: var(--primary-clicked);

}

/* Secondary color UI  */
.secondary_button_ui{
  background-color: var(--secondary-normal);
}
.secondary_button_ui:hover{
  background-color: var(--secondary_hover);
}
.secondary_button_ui:active{
  background-color: var(--secondary-clicked);
}

.primary_button_ui, .secondary_button_ui{
  color: var(--white);
  transition: all .3s ease-out;
  border: none;
  border-radius: .3rem;
}


/* SCROLL BAR DESIGN DEFAULT  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-normal);
  border-radius: .1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-hovered);
}