/* CSS for the Home Page  */
.page {
  background-color: rgb(240, 240, 240);
  position: relative;
  height: 100vh;
}

.container {
  border-radius: 0.1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 35rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.header {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
}
.title {
  font-size: 3.4rem;
  color: var(--black);
}
.slider {
  width: 16rem;
  background-color: var(--light-bg-offwhite);
  display: flex;
  height: 3rem;
  justify-content: center;
  border-radius: 5rem;
  align-items: center;
}
.section {
  width: 50%;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  height: 100%;
  font-size: 1rem;
  user-select: none;
}
/* :global(.active) {
  background-color: var(--off-blue);
  color: var(--white);
  font-size: 1.1rem;
} */

.form_container{
  height: 45%;
  

}
